[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "public"]
	path = public
	url = https://github.com/seyoungjkim/seyoungjkim.github.io
	branch = master
