body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: #ffffff;
}

ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #dddddd;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
	float: left;
}

a.nav {
	display: block;
	color: black;
	text-align: center;
  	padding: 8px;
	text-decoration: none;
}

li a:hover {
	background-color: #f2f2f2;
}

.active {
	color: white;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
  	margin: 20px 0px;
}

p {
	margin: 1em 12em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: left;
    color: #404040;
}

.copyright {
  	width: 100%; 
	color: black;
	text-align: center;
  	padding: 8px;
	text-decoration: none;
  	margin: 0 auto;
}

h1, h2, h3 {
  	margin: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}


.main {
	display: inline;
	padding: 250px 0;
	margin: 30px;
    min-height: 100%;
}

a {
	display: inline;
	text-decoration: none;
	color: #4d4dff;
}

a.main:hover {
	color: #8080ff;
}

@media screen and (min-width: 480px) {
    #nav, #main, #copyright {
    	float: none;
    	width: auto;
    	height: auto;
    }
    p {
    	font-size: 20px;
    }
}

* {
margin: 0;
}

html, body {
    height: 100%
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}