body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

ul.menu li {
    float: left;
}

a.nav {
    display: block;
    color: black;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

li a:hover {
    background-color: #f2f2f2;
}

.main {
    margin: 3em;
    min-height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    color: #404040;
    font-size: 1.5em;
}

p {
    font-size: 1.25em;
    color: #404040;
}

a {
    text-decoration: none;
    color: #4d4dff;
}

a.main:hover {
    color: #8080ff;
}